In [75]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
df = pd.read_csv('Carsv4.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand
0,0,Maruti Wagon R LXI CNG,Mumbai,10,72000,CNG,Manual,First,26.6,998,58.16,5.0,1.75,Maruti
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,5,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,12.50,Hyundai
2,2,Honda Jazz V,Chennai,9,46000,Petrol,Manual,First,18.2,1199,88.70,5.0,4.50,Honda
3,3,Maruti Ertiga VDI,Chennai,8,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,6.00,Maruti
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,7,40670,Diesel,Automatic,Second,15.2,1968,140.80,5.0,17.74,Audi

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5872 entries, 0 to 5871
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5872 non-null   int64
 1   Name               5872 non-null   object
 2   Location           5872 non-null   object
 3   Year               5872 non-null   int64
 4   Kilometers_Driven  5872 non-null   int64
 5   Fuel_Type          5872 non-null   object
 6   Transmission       5872 non-null   object
 7   Owner_Type         5872 non-null   object
 8   Mileage            5872 non-null   object
 9   Engine             5872 non-null   int64
 10  Power              5872 non-null   float64
 11  Seats              5872 non-null   float64
 12  Price              5872 non-null   float64
 13  Brand              5872 non-null   object
dtypes: float64(3), int64(4), object(7)
memory usage: 642.4+ KB

In [77]:
obj_columns = list(df.select_dtypes(include='object'))
obj_columns

['Name',
 'Location',
 'Fuel_Type',
 'Transmission',
 'Owner_Type',
 'Mileage',
 'Brand']

In [78]:
df.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
Brand                0
dtype: int64

In [79]:
df['Fuel_Type'].nunique()

4

In [80]:
df.groupby(['Fuel_Type']).size()

Fuel_Type
CNG         55
Diesel    3152
LPG         10
Petrol    2655
dtype: int64

In [81]:
df['Seats'].nunique()

8

In [82]:
df.groupby(['Seats']).size()

Seats
2.0       13
4.0       99
5.0     4919
6.0       29
7.0      672
8.0      133
9.0        3
10.0       4
dtype: int64

In [83]:
df['Brand'].nunique()

30

In [84]:
df.groupby(['Brand']).size()

Brand
Ambassador        1
Audi            235
BMW             262
Bentley           1
Chevrolet       120
Datsun           13
Fiat             23
Force             3
Ford            294
Honda           600
Hyundai        1058
ISUZU             2
Isuzu             1
Jaguar           40
Jeep             15
Lamborghini       1
Land             57
Mahindra        268
Maruti         1175
Mercedes        316
Mini             26
Mitsubishi       27
Nissan           89
Porsche          16
Renault         145
Skoda           172
Tata            183
Toyota          394
Volkswagen      314
Volvo            21
dtype: int64

"One-Hot-Encoding" method implemented for 'fuel_type' column

In [85]:
from sklearn.preprocessing import OneHotEncoder
fuel = OneHotEncoder(sparse=False)
res_fuel = fuel.fit_transform(df[["Fuel_Type"]])
res_fuel
fuel_encoded = pd.DataFrame(res_fuel, index=df.index,columns=fuel.categories_)
fuel_encoded
df = pd.concat([fuel_encoded,df], axis=1)

In [86]:
df['Transmission'].nunique()

2

In [87]:
df.groupby(['Transmission']).size()

Transmission
Automatic    1702
Manual       4170
dtype: int64

"One-Hot-Encoding" method implemented for 'transmission' column

In [88]:
transmission = OneHotEncoder(sparse=False)
res_transmission = transmission.fit_transform(df[["Transmission"]])
res_transmission
transmission_encoded = pd.DataFrame(res_transmission, index=df.index,columns=transmission.categories_)
transmission_encoded
df = pd.concat([transmission_encoded,df], axis=1)

In [89]:
obj_columns = list(df.select_dtypes(include='object'))
obj_columns

['Name',
 'Location',
 'Fuel_Type',
 'Transmission',
 'Owner_Type',
 'Mileage',
 'Brand']

In [90]:
df['Mileage'].nunique()

414

In [92]:
df.groupby(['Mileage']).size()
df['Mileage'] = df['Mileage'].astype(int)

ValueError: invalid literal for int() with base 10: '26.6'