In [86]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [87]:
df = pd.read_csv("cars.csv")
df

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,2,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
2,3,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,...,1,469605,NaN,great,2021-03-20T05:36:31.311,True,11096,71655,False,False
3,4,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,manual,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,True,7154,46200,False,False
4,5,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,manual,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,True,8397,54225,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6394,6395,toyota fortuner,2012,diesel,116838,1100000,lucknow,327,luxury suv,manual,...,2,765000,NaN,good,2019-09-06T04:20:28.916,False,25550,165000,False,True
6395,6396,hyundai i20,2012,diesel,47317,370000,lucknow,214,hatchback,manual,...,1,0,NaN,overpriced,2019-09-02T09:43:11.541,False,8594,55500,False,True
6396,6397,toyota innova,2009,diesel,274167,415000,lucknow,247,suv,manual,...,2,250000,NaN,overpriced,2019-08-28T14:42:16.246,False,9639,62250,False,False
6397,6398,tata indica ev2,2011,diesel,119634,150000,lucknow,157,hatchback,manual,...,2,33000,NaN,overpriced,2019-08-26T06:10:57.269,False,3484,22500,False,False
6398,6399,hyundai grand i10,2015,diesel,101527,350000,lucknow,144,hatchback,manual,...,2,232000,NaN,good,2019-08-25T06:09:38.375,False,8130,52500,False,True

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6399 entries, 0 to 6398
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   6399 non-null   int64
 1   car_name             6399 non-null   object
 2   yr_mfr               6399 non-null   int64
 3   fuel_type            6399 non-null   object
 4   kms_run              6399 non-null   int64
 5   sale_price           6399 non-null   int64
 6   city                 6399 non-null   object
 7   times_viewed         6399 non-null   int64
 8   body_type            6309 non-null   object
 9   transmission         5925 non-null   object
 10  variant              6399 non-null   object
 11  assured_buy          6399 non-null   bool
 12  registered_city      6391 non-null   object
 13  registered_state     6391 non-null   object
 14  is_hot               6399 non-null   bool
 15  rto                  6399 non-null   object
 16  source               6285 non-null   object
 17  make                 6399 non-null   object
 18  model                6399 non-null   object
 19  car_availability     5857 non-null   object
 20  total_owners         6399 non-null   int64
 21  broker_quote         6399 non-null   int64
 22  original_price       3575 non-null   float64
 23  car_rating           6392 non-null   object
 24  ad_created_on        6398 non-null   object
 25  fitness_certificate  6391 non-null   object
 26  emi_starts_from      6399 non-null   int64
 27  booking_down_pymnt   6399 non-null   int64
 28  reserved             6399 non-null   bool
 29  warranty_avail       6399 non-null   bool
dtypes: bool(4), float64(1), int64(9), object(16)
memory usage: 1.3+ MB

In [89]:
df.isnull().sum()

id                        0
car_name                  0
yr_mfr                    0
fuel_type                 0
kms_run                   0
sale_price                0
city                      0
times_viewed              0
body_type                90
transmission            474
variant                   0
assured_buy               0
registered_city           8
registered_state          8
is_hot                    0
rto                       0
source                  114
make                      0
model                     0
car_availability        542
total_owners              0
broker_quote              0
original_price         2824
car_rating                7
ad_created_on             1
fitness_certificate       8
emi_starts_from           0
booking_down_pymnt        0
reserved                  0
warranty_avail            0
dtype: int64

In [90]:
df['original_price'].describe()

count    3.575000e+03
mean     5.507506e+05
std      3.114276e+05
min      1.150990e+05
25%      3.424855e+05
50%      4.672500e+05
75%      6.663375e+05
max      2.765057e+06
Name: original_price, dtype: float64

In [91]:
df.iloc[:,16:17]

             source
0     inperson_sale
1     inperson_sale
2     inperson_sale
3     inperson_sale
4     inperson_sale
...             ...
6394         online
6395         online
6396         online
6397         online
6398         online

[6399 rows x 1 columns]

####  Null operation on original_price using mean by Simple Imputer

In [92]:
impute_Op = SimpleImputer(missing_values=np.nan, strategy='mean')
impute_Op.fit(df.iloc[:,22:23])
df.iloc[:,22:23] = impute_Op.transform(df.iloc[:,22:23])

In [93]:
df['original_price'].isnull().sum()
df['original_price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: original_price
Non-Null Count  Dtype
--------------  -----
6399 non-null   float64
dtypes: float64(1)
memory usage: 50.1 KB

In [94]:
df['car_availability'].unique()

array(['in_stock', 'in_transit', nan, 'out_of_stock', 'pickup_pending'],
      dtype=object)

In [95]:
df['car_availability'].isnull().sum()

542

In [96]:
df.groupby(['car_availability']).size()

car_availability
in_stock          5604
in_transit         193
out_of_stock        22
pickup_pending      38
dtype: int64

In [97]:
temp = df[df['car_availability'] == 'NaN']
temp

Empty DataFrame
Columns: [id, car_name, yr_mfr, fuel_type, kms_run, sale_price, city, times_viewed, body_type, transmission, variant, assured_buy, registered_city, registered_state, is_hot, rto, source, make, model, car_availability, total_owners, broker_quote, original_price, car_rating, ad_created_on, fitness_certificate, emi_starts_from, booking_down_pymnt, reserved, warranty_avail]
Index: []

[0 rows x 30 columns]

Null operation on car_availability using most_frequent by Simple Imputer

In [98]:
impute_Ca = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
impute_Ca.fit(df.iloc[:,19:20])
df.iloc[:,19:20] = impute_Ca.transform(df.iloc[:,19:20])

In [99]:
df['car_availability'].info()
df['car_availability'].isnull().sum()

<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: car_availability
Non-Null Count  Dtype
--------------  -----
6399 non-null   object
dtypes: object(1)
memory usage: 50.1+ KB

0

In [100]:
df['transmission'].unique()

array(['manual', nan, 'automatic'], dtype=object)

In [101]:
df['transmission'].isnull().sum()

474

In [102]:
df['transmission'].describe()

count       5925
unique         2
top       manual
freq        5381
Name: transmission, dtype: object

In [103]:
df.groupby(['transmission']).size()

transmission
automatic     544
manual       5381
dtype: int64

Null operation on transmission using most_frequent by Simple Imputer

In [104]:
impute_tr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
impute_tr.fit(df.iloc[:,9:10])
df.iloc[:,9:10] = impute_tr.transform(df.iloc[:,9:10])

In [105]:
df['transmission'].isnull().sum()

0

In [106]:
df['body_type'].unique()

array(['hatchback', 'sedan', 'suv', 'luxury sedan', 'luxury suv', nan],
      dtype=object)

In [107]:
df.groupby(['body_type']).size()

body_type
hatchback       3798
luxury sedan     135
luxury suv       169
sedan           1261
suv              946
dtype: int64

Null operation on transmission using most_frequent by Simple Imputer

In [108]:
impute_bt = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
impute_bt.fit(df.iloc[:,8:9])
df.iloc[:,8:9] = impute_bt.transform(df.iloc[:,8:9])

In [109]:
df['body_type'].unique()

array(['hatchback', 'sedan', 'suv', 'luxury sedan', 'luxury suv'],
      dtype=object)

In [110]:
df['body_type'].isnull().sum()

0

Null operation on source using most_frequent by Simple Imputer

In [111]:
df['source'].unique()

array(['inperson_sale', nan, 'online', 'customer_to_customer'],
      dtype=object)

In [112]:
df['source'].isnull().sum()

114

In [113]:
df['source'].describe()

count              6285
unique                3
top       inperson_sale
freq               5904
Name: source, dtype: object

In [114]:
impute_s = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
impute_s.fit(df.iloc[:,16:17])
df.iloc[:,16:17] = impute_s.transform(df.iloc[:,16:17])

In [115]:
df['source'].isnull().sum()

0

In [116]:
df.isnull().sum()

id                     0
car_name               0
yr_mfr                 0
fuel_type              0
kms_run                0
sale_price             0
city                   0
times_viewed           0
body_type              0
transmission           0
variant                0
assured_buy            0
registered_city        8
registered_state       8
is_hot                 0
rto                    0
source                 0
make                   0
model                  0
car_availability       0
total_owners           0
broker_quote           0
original_price         0
car_rating             7
ad_created_on          1
fitness_certificate    8
emi_starts_from        0
booking_down_pymnt     0
reserved               0
warranty_avail         0
dtype: int64

#### Null Value Handling of remaining columns with less null values done by dropping them
registered_city       8
registered_state      8
car_rating            7
ad_created_on        1
fitness_certificate  8

In [117]:
df_nullProcessed = df.dropna()

In [119]:
df_nullProcessed.isnull().sum()

id                     0
car_name               0
yr_mfr                 0
fuel_type              0
kms_run                0
sale_price             0
city                   0
times_viewed           0
body_type              0
transmission           0
variant                0
assured_buy            0
registered_city        0
registered_state       0
is_hot                 0
rto                    0
source                 0
make                   0
model                  0
car_availability       0
total_owners           0
broker_quote           0
original_price         0
car_rating             0
ad_created_on          0
fitness_certificate    0
emi_starts_from        0
booking_down_pymnt     0
reserved               0
warranty_avail         0
dtype: int64

In [122]:
df_nullProcessed['body_type'].value_counts()

hatchback       3876
sedan           1256
suv              946
luxury suv       169
luxury sedan     135
Name: body_type, dtype: int64